@()(implicit flash: Flash)
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Why CRYPTOFINTECHX.</title>
<meta content="Why CRYPTOFINTECHX" name="description">
<meta content="" name="keywords">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/assets/vendor/owl.carousel//assets/owl.carousel.min.css" rel="stylesheet">
<link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
<link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/assets/vendor/aos/aos.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet">

<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/mdb.min.css" rel="stylesheet">
<!--	<link href="/assets/css/dm.css" rel="stylesheet">-->

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">CRYPTOFINTECHX<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
<!--          <li><a href="/">Home</a></li>-->
          <li><a href="/learn-more">About</a></li>
          <li><a href="#word">CEO's Story</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="/" class="get-started-btn scrollto">Get Started</a>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div style="margin-top: 50px;" class="text-center">
          <h3>Why CRYPTOFINTECHX<span>?</span></h3>
          <p> More reasons why you should invest and trade with us... </p>
<!--          <a class="cta-btn" href="/learn-more">Learn More</a>-->
        </div>

      </div>
    </section>
    <section class="inner-page">
      <div class="container">
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">

            <div class="row">
              <div class="col-lg-5 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="/assets/img/about.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-7 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>Why CRYPTOFINTECHX.</h3>
                <p class="font-italic">
                  Our company has collaborated with crypto tax software platform TokenTax, crypto tax calculator CoinTracker, and crypto tax reporting firm CryptoTrader.Tax.
                  Currently, Crypto fintech users can import most of their historical crypto transactions from the platform and into one of the above-mentioned tax reporting platforms. Through the imports, Crypto.com can generate all the necessary tax reports.
                  Also, users can pass these forms along to a tax professional or transfer to tax filing software where further processing is done.

                  The IRS will audit Cryptocurrency, get help NOW The IRS views crypto as property, not currency, which means that mining, selling, exchanging, or spending your coins are all taxable events that you need to report.
                  Cryptocurrency and Bitcoin taxes are a tricky field to navigate.
                  Even today, IRS guidance remains quite vague, and many CPAs don’t know how to properly file crypto taxes.
                  However, despite confusing or unclear guidelines, the IRS has made it very clear they want you to report your crypto.
                  However, we have professional crypto fintech engineers who can help bypass all of that with your new or existing investment.
                  So who do you trust? Contact the support experts before it's too late!
                </p>
              </div>
            </div>

          </div>
        </section>
        <section id="word" class="about">
          <div class="container" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <img src="/assets/img/about.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-7 pt-4 pt-lg-0 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3> A word from the CEO</h3>
                <p>
                  I'd just like to add my story, I think others would like to hear it.
                  I got involved in crypto a few years back. This was when bitcoin was only a few bucks.
                  I ended up selling all my bitcoin when it was only $75.
                  Easily the worst financial decision I've ever made in my life.
                  Because of a few different reasons I didn't get back into crypto until recently.
                  I just started trading bitcoin with this beta testing group and i'm going to keep all my bitcoin this time.
                  Crypto currency will be the biggest wealth transfer of our generation.
                  Bitcoin is turning into our generations version of digital gold. and YES it has it's ups and downs.
                  But it's trending upwards. I know it might be hard for some to believe, but in the near future bitcoin could be worth 100k to a million dollars easily.
                  Don't forget there is a capped supply of only 21 million, and as the world's appetite for bitcoin grows, so will it's price.
                  Trust me. Get in now while you still can.Hurry up and contact the agents at Crypto finntech group for proper guidance in the crypto world .
                </p>
              </div>
            </div>

          </div>
        </section>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>CRYPTOFINTECHX<span>.</span></h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 (414) 400-6413<br>
                <strong>Email:</strong> contact@@cryptofintechx.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="/todo" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="/todo" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="/todo" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://wa.link/ljs9ho" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
                <a href="/todo" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/todo">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/todo">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/todo">Signal Trading</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/todo">Crypto HoDL</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/todo">Crypto Mining and Investment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/todo">Smart Contract</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/todo">Crypto Analysis and Finance</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our monthly newsletter for tips on Crypto trading.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>CRYPTOFINTECHX</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>