@import play.twirl.api.Html
@(csrf: Html)(implicit flash: Flash)
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>CRYPTOFINTECHX</title>
	<meta content="CRYPTOFINTECHX" name="description">
	<meta content="" name="keywords">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
	<link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="/assets/vendor/owl.carousel//assets/owl.carousel.min.css" rel="stylesheet">
	<link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
	<link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="/assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
	<!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet">

	<link href="/assets/css/style.css" rel="stylesheet">
	<link href="/assets/css/mdb.min.css" rel="stylesheet">
<!--	<link href="/assets/css/dm.css" rel="stylesheet">-->

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
	<div class="container d-flex align-items-center justify-content-between">

		<h1 class="logo"><a class="logo-text" href="/">CRYPTOFINTECHX<span>.</span></a></h1>
		<!-- Uncomment below if you prefer to use an image logo -->
		<!-- <a href="index.html" class="logo"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>-->

		<nav class="nav-menu d-none d-lg-block">
			<ul>
				<li class="active"><a href="/">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav><!-- .nav-menu -->
		<button type="button" class="get-started-btn scrollto" data-toggle="modal" data-target="#modalLRForm">
			Login / Sign Up
		</button>

	</div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
	<div class="container" data-aos="fade-up">
		<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast-div">
          <!-- Then put toasts within -->
             <div class="toast" id="toaster1" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
               <div class="toast-header">
                 <!-- <i class="fa fa-square yellow darken-3 rounded mr-2" style="width: 0.6rem; height: 0.6rem;"></i> -->
                 <strong class="mr-auto">CRYPTOFINTECHX<span>.</span></strong>
                 <small class="text-muted">just now</small>
                 <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="toast-body">
                 @flash.get("notice").getOrElse("")
               </div>
             </div>
         </div>

		<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
			<div class="col-xl-6 col-lg-8">
				<h1>Welcome to</h1>
				<h1 class="yellow-text darken-3">CRYPTOFINTECHX.</h1>
			</div>
		</div>

		<div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
			<div class="col-xl-2 col-md-4 col-6">
				<div class="icon-box">
					<i class="ri-store-line"></i>
					<h3><a href="">Signal Trading</a></h3>
				</div>
			</div>
			<div class="col-xl-2 col-md-4 col-6 ">
				<div class="icon-box">
					<i class="ri-bar-chart-box-line"></i>
					<h3><a href="">Crypto HoDL</a></h3>
				</div>
			</div>
			<div class="col-xl-2 col-md-4 col-6 mt-4 mt-md-0">
				<div class="icon-box">
					<i class="ri-calendar-todo-line"></i>
					<h3><a href="">Smart Contract</a></h3>
				</div>
			</div>
			<div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
				<div class="icon-box">
					<i class="ri-paint-brush-line"></i>
					<h3><a href="">Crypto Analysis & Finance</a></h3>
				</div>
			</div>
			<div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
				<div class="icon-box">
					<i class="ri-database-2-line"></i>
					<h3><a href="">Crypto Mining & Investment</a></h3>
				</div>
			</div>
		</div>

	</div>
</section><!-- End Hero -->

<main id="main">

	<!-- ======= About Section ======= -->
	<section id="about" class="about">
		<div class="container" data-aos="fade-up">

			<div class="row">
				<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
					<img src="/assets/img/about.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
					<h3>About Cryptocurrency</h3>
					<p class="font-italic">
						Cryptocurrency Trading is the Forex (Foreign Exchange) of cryptocurrencies. This means, you are able
						to trade bitcoin and altcoins normally for USD, GBP and EUR. Cryptocurrency Trading is an alternative
						way to get involved in the Crypto-World. It doesn’t require mining hardware nor investing in bitcoin
						hyips or bitcoin cloud mining which is said to have a high level of risk involved. Crypto trading is
						now seen as a good opportunity to make good money. Many coins quadruple their value in less than a
						week when a good strategy is implemented.
					</p>

					<h3>Why you should invest in Crypto?</h3>
					<p>
						Crypto assets, encompassing crypto coins and blockchain systems, are seeing increasing acceptance.

						The coins, of which there are more than 4,000 – bitcoin and ether being the best known – are traded via blockchain technology, a totally transparent and safe system (or so we believe). I think I understand it – in the same way that I understand the internet. I know the basics and how to use it, but I don’t need to know anymore to benefit from it every day.
						The recent extraordinary rise in the bitcoin (BTC) price stems from investor confidence following strong purchases and support from some veritable organisations.
					</p>
				</div>
			</div>

		</div>
	</section><!-- End About Section -->

	<!-- ======= Clients Section ======= -->
	<section id="clients" class="clients">
		<div class="container" data-aos="zoom-in">

			<div class="owl-carousel clients-carousel">
				<img src="/assets/img/clients/client-1.png" alt="">
				<img src="/assets/img/clients/client-2.png" alt="">
				<img src="/assets/img/clients/client-3.png" alt="">
				<img src="/assets/img/clients/client-4.png" alt="">
				<img src="/assets/img/clients/client-5.png" alt="">
				<img src="/assets/img/clients/client-6.png" alt="">
				<img src="/assets/img/clients/client-7.png" alt="">
				<img src="/assets/img/clients/client-8.png" alt="">
			</div>

		</div>
	</section><!-- End Clients Section -->

	<!-- ======= Features Section ======= -->
	<section id="features" class="features">
		<div class="container" data-aos="fade-up">

			<div class="row">
				<div class="image col-lg-6" style='background-image: url("/assets/img/features.jpg");' data-aos="fade-right"></div>
				<div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
					<div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
						<i class="bx bx-receipt"></i>
						<h4>CRYPTO IRA / 401K</h4>
						<p>Self-Direct Your IRA
							Americans have some $20 trillion (yes trillion!) in retirement dollars (IRAs, 401ks, etc.) About 97% of those dollars are invested in Wall Street, i.e. stocks, bonds and mutual funds. Many people are unhappy with the Market, but don't know what else to do. An SD IRA opens up an entirely new field of opportunity that most people in the $20 trillion group have no idea exists.</p>
					</div>
					<div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
						<i class="bx bx-cube-alt"></i>
						<h4>RETIREMENT</h4>
						<p>Investment Amount *</p>
						<ul>
							<li>$20,000 - $50,000</li>
							<li>$50,000 - $100,000</li>
							<li>$100,000 - $500,000</li>
							<li>$500,000 - $1,000,000</li>
							<li>$1,000,000 - $5,000,000</li>
							<li>$50,000, 000</li>
						</ul>
					</div>
					<div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
						<i class="bx bx-images"></i>
						<h4>INVESTMENT PLANS</h4>
						<p>Silver Plan</p>
						<ul>
							<li>4 weeks</li>
							<li>Min $750-</li>
							<li>20% ROI</li>
						</ul>
						<p>Gold Plan</p>
						<ul>
							<li>6-7 weeks</li>
							<li>Min $3000-</li>
							<li>45% ROI</li>
						</ul>
						<p>Diamond Plan</p>
						<ul>
							<li>6 weeks</li>
							<li>Min $25000-</li>
							<li>65% ROI</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section><!-- End Features Section -->

	<!-- ======= Services Section ======= -->
	<section id="services" class="services">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Services</h2>
				<p>Check our Services</p>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
					<div class="icon-box">
						<div class="icon"><i class="bx bxl-dribbble"></i></div>
						<h4><a href="">Signal Trading</a></h4>
						<p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-file"></i></div>
						<h4><a href="">Crypto HoDL</a></h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-tachometer"></i></div>
						<h4><a href="">Crypto Mining and Investment</a></h4>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-world"></i></div>
						<h4><a href="">Smart Contract</a></h4>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-slideshow"></i></div>
						<h4><a href="">Crypto Analysis and Finance</a></h4>
						<p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
					</div>
				</div>



			</div>

		</div>
	</section><!-- End Services Section -->

	<!-- ======= Cta Section ======= -->
	<section id="cta" class="cta">
		<div class="container" data-aos="zoom-in">

			<div class="text-center">
				<h3>Call To Action</h3>
				<p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a class="cta-btn" href="/todo">Call To Action</a>
			</div>

		</div>
	</section><!-- End Cta Section -->





	<!-- ======= Testimonials Section ======= -->
	<section id="testimonials" class="testimonials">
		<div class="container" data-aos="zoom-in">

			<div class="owl-carousel testimonials-carousel">

				<div class="testimonial-item">
					<img src="/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
					<h3>Saul Goodman</h3>
					<h4>Ceo &amp; Founder</h4>
					<p>
						<i class="bx bxs-quote-alt-left quote-icon-left"></i>
						Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
						<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
				</div>

				<div class="testimonial-item">
					<img src="/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
					<h3>Sara Wilsson</h3>
					<h4>Designer</h4>
					<p>
						<i class="bx bxs-quote-alt-left quote-icon-left"></i>
						Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
						<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
				</div>

				<div class="testimonial-item">
					<img src="/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
					<h3>Jena Karlis</h3>
					<h4>Store Owner</h4>
					<p>
						<i class="bx bxs-quote-alt-left quote-icon-left"></i>
						Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
						<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
				</div>

				<div class="testimonial-item">
					<img src="/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
					<h3>Matt Brandon</h3>
					<h4>Freelancer</h4>
					<p>
						<i class="bx bxs-quote-alt-left quote-icon-left"></i>
						Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
						<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
				</div>

				<div class="testimonial-item">
					<img src="/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
					<h3>John Larson</h3>
					<h4>Entrepreneur</h4>
					<p>
						<i class="bx bxs-quote-alt-left quote-icon-left"></i>
						Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
						<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
				</div>

			</div>

		</div>
	</section><!-- End Testimonials Section -->



	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Contact</h2>
				<p>Contact Us</p>
			</div>

			<div>
				<iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="row mt-5">

				<div class="col-lg-4">
					<div class="info">
						<div class="address">
							<i class="icofont-google-map"></i>
							<h4>Location:</h4>
							<p>A108 Adam Street, New York, NY 535022</p>
						</div>

						<div class="email">
							<i class="icofont-envelope"></i>
							<h4>Email:</h4>
							<p>info@@example.com</p>
						</div>

						<div class="phone">
							<i class="icofont-phone"></i>
							<h4>Call:</h4>
							<p>+1 5589 55488 55s</p>
						</div>

					</div>

				</div>

				<div class="col-lg-8 mt-5 mt-lg-0">

					<form action="forms/contact.php" method="post" role="form" class="php-email-form">
						<div class="form-row">
							<div class="col-md-6 form-group">
								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validate"></div>
							</div>
							<div class="col-md-6 form-group">
								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validate"></div>
							</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
							<div class="validate"></div>
						</div>
						<div class="form-group">
							<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
							<div class="validate"></div>
						</div>
						<div class="mb-3">
							<div class="loading">Loading</div>
							<div class="error-message"></div>
							<div class="sent-message">Your message has been sent. Thank you!</div>
						</div>
						<div class="text-center"><button type="submit">Send Message</button></div>
					</form>

				</div>

			</div>

		</div>
	</section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6">
					<div class="footer-info">
						<h3>CRYPTOFINTECHX<span>.</span></h3>
						<p>
							A108 Adam Street <br>
							NY 535022, USA<br><br>
							<strong>Phone:</strong> +1 5589 55488 55<br>
							<strong>Email:</strong> info@@example.com<br>
						</p>
						<div class="social-links mt-3">
							<a href="/todo" class="twitter"><i class="bx bxl-twitter"></i></a>
							<a href="/todo" class="facebook"><i class="bx bxl-facebook"></i></a>
							<a href="/todo" class="instagram"><i class="bx bxl-instagram"></i></a>
							<a href="/todo" class="google-plus"><i class="bx bxl-skype"></i></a>
							<a href="/todo" class="linkedin"><i class="bx bxl-linkedin"></i></a>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-md-6 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="/todo">Home</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/todo">About us</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/todo">Services</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/todo">Terms of service</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/todo">Privacy policy</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Our Services</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="/todo">Signal Trading</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/todo">Crypto HoDL</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/todo">Crypto Mining and Investment</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/todo">Smart Contract</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/todo">Crypto Analysis and Finance</a></li>
					</ul>
				</div>

				<div class="col-lg-4 col-md-6 footer-newsletter">
					<h4>Our Newsletter</h4>
					<p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
					<form action="" method="post">
						<input type="email" name="email"><input type="submit" value="Subscribe">
					</form>

				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Copyright <strong><span>CRYPTOFINTECHX</span></strong>. All Rights Reserved
		</div>

	</div>
</footer><!-- End Footer -->

<a href="/todo" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<!-- <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/venobox/venobox.min.js"></script>
<script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/assets/vendor/counterup/counterup.min.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/mdb.js"></script>
<script type="text/javascript">
   $(document).ready( function () {
      $('#toaster1').toast('@flash.get("showing").getOrElse("hide")')
      setTimeout(function() { $('#toaster1').toast('hide'); }, 5000);
   })
</script>

<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog cascading-modal" role="document">
	  <!--Content-->
	  <div class="modal-content">
		<!--Modal cascading tabs-->
		<div class="modal-c-tabs">
			<span class="close" data-dismiss="modal"><i class="fa fa-times"></i></span>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs md-tabs tabs-2 yellow darken-3" role="tablist">
			<li class="nav-item">
			  <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
				Login</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
				Register</a>
			</li>

		  </ul>

		  <!-- Tab panels -->
		  <div class="tab-content">
			<!--Panel 7-->
			<div class="tab-pane fade in show active" id="panel7" role="tabpanel">

				<div class="md-form form-sm mb-4 text-center">
					<h3>
						Welcome back to
					</h3>
					<h2 class="yellow-text darken-1">CRYPTOFINTECHX.</h2>
				</div>

			  <!--Body-->
			  <div class="modal-body mb-1">
				  <form action="/dashboard" method="post" class="form" enctype="application/x-www-form-urlencoded">
					  @csrf
					  <div class="md-form form-sm mb-5">
						  <i class="fas fa-envelope prefix"></i>
						  <input type="email" id="modalLRInput09" class="form-control form-control-sm validate" required name="email">
						  <label data-error="Invalid!" data-success="Valid!" for="modalLRInput09">Email</label>
					  </div>

					  <div class="md-form form-sm mb-4">
						  <i class="fas fa-lock prefix"></i>
						  <input type="password" id="modalLRInput10" class="form-control form-control-sm validate" required name="pass">
						  <label data-error="Invalid!" data-success="Valid!" for="modalLRInput10">Password</label>
					  </div>
					  <div class="text-center mt-2">
						  <button type="submit" class="btn yellow darken-3">Log in <i class="fas fa-sign-in ml-1"></i></button>
					  </div>
				  </form>
			  </div>

			  <div class="options mt-1">
				<p class="text-center">Forgot <a href="/forgot" class="yellow-text darken-5">Password?</a></p>
			  </div>

			</div>
			<!--/.Panel 7-->

			<!--Panel 8-->
			<div class="tab-pane fade" id="panel8" role="tabpanel">

			  <!--Body-->
			  <div class="modal-body">

				<div class="md-form form-sm mb-4 text-center">
					<h3>
						JOIN <span class="yellow-text darken-1">CRYPTOFINTECHX.</span>
					</h3>
				</div>
				  <form action="/create/user" method="POST" enctype="application/x-www-form-urlencoded" class="form">
					  @csrf
					  <div class="md-form form-sm mb-4">
						  <i class="fas fa-user prefix"></i>
						  <input type="text" id="modalLRInput11" class="form-control form-control-sm validate" name="name" required>
						  <label data-error="Invalid!" data-success="Valid!" for="modalLRInput11">Full Name</label>
					  </div>

					  <div class="md-form form-sm mb-5">
						  <i class="fas fa-envelope prefix"></i>
						  <input type="email" id="modalLRInput12" class="form-control form-control-sm validate" name="email" required>
						  <label data-error="Invalid!" data-success="Valid!" for="modalLRInput12">Email</label>
					  </div>

					  <div class="md-form form-sm mb-5">
						  <i class="fas fa-lock prefix"></i>
						  <input type="password" id="modalLRInput13" class="form-control form-control-sm validate" name="pass" required>
						  <label data-error="Invalid!" data-success="Valid!" for="modalLRInput13">Password</label>
					  </div>

					  <div class="md-form form-sm mb-4">
						  <i class="fas fa-calendar prefix"></i>
						  <input type="date" id="modalLRInput14" class="form-control form-control-sm validate" name="dob" required>
						  <label data-error="Invalid!" data-success="Valid!" for="modalLRInput14">DOB</label>
					  </div>

					  <div class="md-form form-sm mb-4">
						  <i class="fas fa-phone prefix"></i>
						  <input type="tel" id="modalLRInput15" class="form-control form-control-sm validate" name="phone" required>
						  <label data-error="Invalid!" data-success="Valid!" for="modalLRInput15">Phone</label>
					  </div>

					  <div class="md-form form-sm mb-4">
						  <i class="fas fa-home prefix"></i>
						  <input type="text" id="modalLRInput16" class="form-control form-control-sm validate" name="address" required>
						  <label for="modalLRInput16">Address</label>
					  </div>

					  <div class="md-form form-sm mb-1">
						  <i class="fas fa-globe prefix" aria-hidden="true"></i>
						  <select id="modalLRInput17" style="margin-left: 32px; border: none;" name="country" class="form-select" required>
							  <option value="null" selected disabled> Country</option>
							  <option value="Afghanistan">Afghanistan</option>
							  <option value="Åland Islands">Åland Islands</option>
							  <option value="Albania">Albania</option>
							  <option value="Algeria">Algeria</option>
							  <option value="American Samoa">American Samoa</option>
							  <option value="Andorra">Andorra</option>
							  <option value="Angola">Angola</option>
							  <option value="Anguilla">Anguilla</option>
							  <option value="Antarctica">Antarctica</option>
							  <option value="Antigua and Barbuda">Antigua and Barbuda</option>
							  <option value="Argentina">Argentina</option>
							  <option value="Armenia">Armenia</option>
							  <option value="Aruba">Aruba</option>
							  <option value="Australia">Australia</option>
							  <option value="Austria">Austria</option>
							  <option value="Azerbaijan">Azerbaijan</option>
							  <option value="Bahamas">Bahamas</option>
							  <option value="Bahrain">Bahrain</option>
							  <option value="Bangladesh">Bangladesh</option>
							  <option value="Barbados">Barbados</option>
							  <option value="Belarus">Belarus</option>
							  <option value="Belgium">Belgium</option>
							  <option value="Belize">Belize</option>
							  <option value="Benin">Benin</option>
							  <option value="Bermuda">Bermuda</option>
							  <option value="Bhutan">Bhutan</option>
							  <option value="Bolivia">Bolivia</option>
							  <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
							  <option value="Botswana">Botswana</option>
							  <option value="Bouvet Island">Bouvet Island</option>
							  <option value="Brazil">Brazil</option>
							  <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
							  <option value="Brunei Darussalam">Brunei Darussalam</option>
							  <option value="Bulgaria">Bulgaria</option>
							  <option value="Burkina Faso">Burkina Faso</option>
							  <option value="Burundi">Burundi</option>
							  <option value="Cambodia">Cambodia</option>
							  <option value="Cameroon">Cameroon</option>
							  <option value="Canada">Canada</option>
							  <option value="Cape Verde">Cape Verde</option>
							  <option value="Cayman Islands">Cayman Islands</option>
							  <option value="Central African Republic">Central African Republic</option>
							  <option value="Chad">Chad</option>
							  <option value="Chile">Chile</option>
							  <option value="China">China</option>
							  <option value="Christmas Island">Christmas Island</option>
							  <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
							  <option value="Colombia">Colombia</option>
							  <option value="Comoros">Comoros</option>
							  <option value="Congo">Congo</option>
							  <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
							  <option value="Cook Islands">Cook Islands</option>
							  <option value="Costa Rica">Costa Rica</option>
							  <option value="Cote D'ivoire">Cote D'ivoire</option>
							  <option value="Croatia">Croatia</option>
							  <option value="Cuba">Cuba</option>
							  <option value="Cyprus">Cyprus</option>
							  <option value="Czech Republic">Czech Republic</option>
							  <option value="Denmark">Denmark</option>
							  <option value="Djibouti">Djibouti</option>
							  <option value="Dominica">Dominica</option>
							  <option value="Dominican Republic">Dominican Republic</option>
							  <option value="Ecuador">Ecuador</option>
							  <option value="Egypt">Egypt</option>
							  <option value="El Salvador">El Salvador</option>
							  <option value="Equatorial Guinea">Equatorial Guinea</option>
							  <option value="Eritrea">Eritrea</option>
							  <option value="Estonia">Estonia</option>
							  <option value="Ethiopia">Ethiopia</option>
							  <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
							  <option value="Faroe Islands">Faroe Islands</option>
							  <option value="Fiji">Fiji</option>
							  <option value="Finland">Finland</option>
							  <option value="France">France</option>
							  <option value="French Guiana">French Guiana</option>
							  <option value="French Polynesia">French Polynesia</option>
							  <option value="French Southern Territories">French Southern Territories</option>
							  <option value="Gabon">Gabon</option>
							  <option value="Gambia">Gambia</option>
							  <option value="Georgia">Georgia</option>
							  <option value="Germany">Germany</option>
							  <option value="Ghana">Ghana</option>
							  <option value="Gibraltar">Gibraltar</option>
							  <option value="Greece">Greece</option>
							  <option value="Greenland">Greenland</option>
							  <option value="Grenada">Grenada</option>
							  <option value="Guadeloupe">Guadeloupe</option>
							  <option value="Guam">Guam</option>
							  <option value="Guatemala">Guatemala</option>
							  <option value="Guernsey">Guernsey</option>
							  <option value="Guinea">Guinea</option>
							  <option value="Guinea-bissau">Guinea-bissau</option>
							  <option value="Guyana">Guyana</option>
							  <option value="Haiti">Haiti</option>
							  <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
							  <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
							  <option value="Honduras">Honduras</option>
							  <option value="Hong Kong">Hong Kong</option>
							  <option value="Hungary">Hungary</option>
							  <option value="Iceland">Iceland</option>
							  <option value="India">India</option>
							  <option value="Indonesia">Indonesia</option>
							  <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
							  <option value="Iraq">Iraq</option>
							  <option value="Ireland">Ireland</option>
							  <option value="Isle of Man">Isle of Man</option>
							  <option value="Israel">Israel</option>
							  <option value="Italy">Italy</option>
							  <option value="Jamaica">Jamaica</option>
							  <option value="Japan">Japan</option>
							  <option value="Jersey">Jersey</option>
							  <option value="Jordan">Jordan</option>
							  <option value="Kazakhstan">Kazakhstan</option>
							  <option value="Kenya">Kenya</option>
							  <option value="Kiribati">Kiribati</option>
							  <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
							  <option value="Korea, Republic of">Korea, Republic of</option>
							  <option value="Kuwait">Kuwait</option>
							  <option value="Kyrgyzstan">Kyrgyzstan</option>
							  <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
							  <option value="Latvia">Latvia</option>
							  <option value="Lebanon">Lebanon</option>
							  <option value="Lesotho">Lesotho</option>
							  <option value="Liberia">Liberia</option>
							  <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
							  <option value="Liechtenstein">Liechtenstein</option>
							  <option value="Lithuania">Lithuania</option>
							  <option value="Luxembourg">Luxembourg</option>
							  <option value="Macao">Macao</option>
							  <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
							  <option value="Madagascar">Madagascar</option>
							  <option value="Malawi">Malawi</option>
							  <option value="Malaysia">Malaysia</option>
							  <option value="Maldives">Maldives</option>
							  <option value="Mali">Mali</option>
							  <option value="Malta">Malta</option>
							  <option value="Marshall Islands">Marshall Islands</option>
							  <option value="Martinique">Martinique</option>
							  <option value="Mauritania">Mauritania</option>
							  <option value="Mauritius">Mauritius</option>
							  <option value="Mayotte">Mayotte</option>
							  <option value="Mexico">Mexico</option>
							  <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
							  <option value="Moldova, Republic of">Moldova, Republic of</option>
							  <option value="Monaco">Monaco</option>
							  <option value="Mongolia">Mongolia</option>
							  <option value="Montenegro">Montenegro</option>
							  <option value="Montserrat">Montserrat</option>
							  <option value="Morocco">Morocco</option>
							  <option value="Mozambique">Mozambique</option>
							  <option value="Myanmar">Myanmar</option>
							  <option value="Namibia">Namibia</option>
							  <option value="Nauru">Nauru</option>
							  <option value="Nepal">Nepal</option>
							  <option value="Netherlands">Netherlands</option>
							  <option value="Netherlands Antilles">Netherlands Antilles</option>
							  <option value="New Caledonia">New Caledonia</option>
							  <option value="New Zealand">New Zealand</option>
							  <option value="Nicaragua">Nicaragua</option>
							  <option value="Niger">Niger</option>
							  <option value="Nigeria">Nigeria</option>
							  <option value="Niue">Niue</option>
							  <option value="Norfolk Island">Norfolk Island</option>
							  <option value="Northern Mariana Islands">Northern Mariana Islands</option>
							  <option value="Norway">Norway</option>
							  <option value="Oman">Oman</option>
							  <option value="Pakistan">Pakistan</option>
							  <option value="Palau">Palau</option>
							  <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
							  <option value="Panama">Panama</option>
							  <option value="Papua New Guinea">Papua New Guinea</option>
							  <option value="Paraguay">Paraguay</option>
							  <option value="Peru">Peru</option>
							  <option value="Philippines">Philippines</option>
							  <option value="Pitcairn">Pitcairn</option>
							  <option value="Poland">Poland</option>
							  <option value="Portugal">Portugal</option>
							  <option value="Puerto Rico">Puerto Rico</option>
							  <option value="Qatar">Qatar</option>
							  <option value="Reunion">Reunion</option>
							  <option value="Romania">Romania</option>
							  <option value="Russian Federation">Russian Federation</option>
							  <option value="Rwanda">Rwanda</option>
							  <option value="Saint Helena">Saint Helena</option>
							  <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
							  <option value="Saint Lucia">Saint Lucia</option>
							  <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
							  <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
							  <option value="Samoa">Samoa</option>
							  <option value="San Marino">San Marino</option>
							  <option value="Sao Tome and Principe">Sao Tome and Principe</option>
							  <option value="Saudi Arabia">Saudi Arabia</option>
							  <option value="Senegal">Senegal</option>
							  <option value="Serbia">Serbia</option>
							  <option value="Seychelles">Seychelles</option>
							  <option value="Sierra Leone">Sierra Leone</option>
							  <option value="Singapore">Singapore</option>
							  <option value="Slovakia">Slovakia</option>
							  <option value="Slovenia">Slovenia</option>
							  <option value="Solomon Islands">Solomon Islands</option>
							  <option value="Somalia">Somalia</option>
							  <option value="South Africa">South Africa</option>
							  <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
							  <option value="Spain">Spain</option>
							  <option value="Sri Lanka">Sri Lanka</option>
							  <option value="Sudan">Sudan</option>
							  <option value="Suriname">Suriname</option>
							  <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
							  <option value="Swaziland">Swaziland</option>
							  <option value="Sweden">Sweden</option>
							  <option value="Switzerland">Switzerland</option>
							  <option value="Syrian Arab Republic">Syrian Arab Republic</option>
							  <option value="Taiwan">Taiwan</option>
							  <option value="Tajikistan">Tajikistan</option>
							  <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
							  <option value="Thailand">Thailand</option>
							  <option value="Timor-leste">Timor-leste</option>
							  <option value="Togo">Togo</option>
							  <option value="Tokelau">Tokelau</option>
							  <option value="Tonga">Tonga</option>
							  <option value="Trinidad and Tobago">Trinidad and Tobago</option>
							  <option value="Tunisia">Tunisia</option>
							  <option value="Turkey">Turkey</option>
							  <option value="Turkmenistan">Turkmenistan</option>
							  <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
							  <option value="Tuvalu">Tuvalu</option>
							  <option value="Uganda">Uganda</option>
							  <option value="Ukraine">Ukraine</option>
							  <option value="United Arab Emirates">United Arab Emirates</option>
							  <option value="United Kingdom">United Kingdom</option>
							  <option value="United States">United States</option>
							  <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
							  <option value="Uruguay">Uruguay</option>
							  <option value="Uzbekistan">Uzbekistan</option>
							  <option value="Vanuatu">Vanuatu</option>
							  <option value="Venezuela">Venezuela</option>
							  <option value="Viet Nam">Viet Nam</option>
							  <option value="Virgin Islands, British">Virgin Islands, British</option>
							  <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
							  <option value="Wallis and Futuna">Wallis and Futuna</option>
							  <option value="Western Sahara">Western Sahara</option>
							  <option value="Yemen">Yemen</option>
							  <option value="Zambia">Zambia</option>
							  <option value="Zimbabwe">Zimbabwe</option>
						  </select>
					  </div>

					  <div class="md-form form-sm mb-4">
						  <i class="fas fa-industry prefix" aria-hidden="true"></i>
						  <select id="modalLRInput18" style="margin-left: 32px; border: none;" name="category" class="form-select" required>
							  <option value="null" selected disabled> Investment Category</option>
							  <option value="Normal">Normal</option>
							  <option value="Silver">Silver</option>
							  <option value="Gold">Gold</option>
							  <option value="Diamond">Diamond</option>
						  </select>
					  </div>
					  <div class="text-center form-sm mt-2">
						  <button type="submit" class="btn yellow darken-3">Sign up <i class="fas fa-sign-in ml-1"></i></button>
					  </div>
				  </form>
  
			  </div>
			</div>
			<!--/.Panel 8-->
		  </div>
  
		</div>
	  </div>
	  <!--/.Content-->
	</div>
  </div>
  <!--Modal: Login / Register Form-->
</body>

</html>